.project-container {
  display: flex;
  flex-direction: column;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #deb992;
}

.project-wrapper h2 {
  margin: 20px 0 0;
}

.project-container button {
  align-self: flex-end;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.project-card-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 55px;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card-wrapper {
  width: 350px;
  height: 250px;
  background-color: #0b2d45;
  color: white;
  padding: 1em 2em;
  border-radius: 20px;
}

.project-add-btn {
  font-size: 1rem;
}

.view-project-btn {
  margin-top: 20px;
}
