.user-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 3rem 0;
  flex-direction: column;
  color: var(--btn-color);
  margin: 0 auto;
  padding-bottom: 2em;
}

.active-btn {
  cursor: pointer;
  border: none;
  background: none;
}

.user-check-btn {
  color: var(--accent-color) !important;
}

h1 .userHeading {
  text-align: center;
  font-size: 4rem;
  margin: 0.2rem;
}

h2 .userSubHeading {
  margin: 0.2rem;
  text-align: center;
  font-size: 2rem;
}

table {
  border-spacing: 0;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  width: 80%;
}

table tr .table-data td .name {
  text-align: left;
}

tr {
  font-size: 1.3rem;
  border-bottom: 1px solid var(--accent-color);
}

th {
  padding: .5rem 0;
  color: var(main-text-color);
  margin: 0;
  padding: 1.3rem;
  border-bottom: 1px solid var(--accent-color);
  font-size: 2rem;
}

tr:not(:last-child) > td {
  border-bottom: 1px solid var(--accent-color);
}

td {
  padding: 1.5rem 1rem;
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: var(--accent-color);
}

/* ----MODAL STYLING---- */

.user-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}

.user-modal-container form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 680px;
  padding: 4em;
  border-radius: 20px;
  background-color: var(--card-color);
  z-index: 999;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.356);
}

.user-modal-container form p {
  text-align: center;
  font-size: 1.5rem;
}

.user-modal-container input {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
  margin: 1rem 0;
  margin-bottom: 20px;
  outline: none;
  color: var(--main-text-color);
  font-size: 1.3rem;
}

.addInput {
  display: flex;
  gap: 1rem;
}

.user-modal-container input .email {
  width: 100%;
}

.user-add-btn {
  width: 20%;
}
.phone {
  -moz-appearance: textfield;
}
.phone::-webkit-inner-spin-button {
  display: none;
}
.phone::-webkit-outer-spin-button,
.phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
